.highlight {
  color: #B43333;
}

.highlight-notes {
  padding-top: 0.2em;
  display:     inline-block;
}
.plain img {
  background: none !important;
  box-shadow: none !important;
  border:     none !important;
  margin:     0    !important;
}
